===============1.Storage Areas================================

2.As the Part of our Applications, we required to store our Data like Customers Information, Billing Information, Calls Information etc.

# 3. To store this Data, we required Storage Areas. There are 2 types of Storage Areas.

# i)Temporary Storage Areas:-
These are the Memory Areas where Data will be stored temporarily. 
Eg: Python objects like List, Tuple, Dictionary.Once Python program completes its execution then these objects will 
be destroyed automatically and data will be lost.

# ii) Permanent Storage Areas:-Also known as Persistent Storage Areas. Here we can store Data permanently. 
Eg: File Systems, Databases, Data warehouses, Big Data Technologies etc

# 4.File Systems:-- 
    File Systems can be provided by Local operating System. File Systems are best suitable to store very less 
    Amount of Information.
Limitataion:
1) We cannot store huge Amount of Information. 
2) There is no Query Language support and hence operations will become very complex. 
3) There is no Security for Data. 
4) There is no Mechanism to prevent duplicate Data. Hence there may be a chance of Data Inconsistency Problems
To overcome the above Problems of File Systems, we should go for Databases

# 5.Databases:---
1) We can store Huge Amount of Information in the Databases. 
2) Query Language Support is available for every Database and hence we can perform Database Operations very easily. 
3) To access Data present in the Database, compulsory username and pwd must be required. Hence Data is secured. 
4) Inside Database Data will be stored in the form of Tables. While developing Database Table Schemas, Database Admin follow various Normalization Techniques and can implement various Constraints like Unique Key Constrains, Primary Key Constraints etc which prevent Data Duplication. Hence there is no chance of Data Inconsistency Problems.

Limitations of Databases:--
1) Database cannot hold very Huge Amount of Information like Terabytes of Data. 
2) Database can provide support only for Structured Data (Tabular Data OR Relational Data) and cannot provide support for Semi Structured Data (like XML Files) and Unstructured Data (like Video Files, Audio Files, Images etc) 
To overcome these Problems we should go for more Advanced Storage Areas like Big Data Technologies, Data warehouses etc.

# 6. Python Database Programming:
Sometimes as the part of Programming requirement we have to connect to the database and we have to perform several operations like creating tables, inserting data, updating data, deleting data, selecting data etc. 

We can use SQL Language to talk to the database and we can use Python to send those SQL commands to the database. 

Python provides inbuilt support for several databases like Oracle, MySql, SqlServer, GadFly, sqlite, etc. 

Python has seperate module for each database. 
Eg: cx_Oralce module for communicating with Oracle database 
pymssql module for communicating with Microsoft Sql Server

# 7.Standard Steps for Python database Programming:

# 8.Step 1:--->Import database specific module 
pip install cs_Oracle
pip install msql-connector 
pip install psycopg2

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Eg: import cx_Oracle 
dir(cx_Oracle)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Step 2:--->Establish Connection between Python Program and database
We can create this Connection object by using connect() function of the module. 
con = cx_Oracle.connect(datbase information) 
Eg: con = cx_Oracle.connect('scott/tiger@localhost')

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Step3:-To execute our sql queries and to hold results some special object is required, which is nothing but Cursor object. 
We can create Cursor object by using cursor() method. 
cursor = con.cursor()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Step4:-Execute SQL Queries By using Cursor object. For this we can use the following methods 
execute(sqlquery) ----------------------->To execute a Single SQL Query 
executescript(sqlqueries)----------------> To execute a String of SQL Queries seperated by semi-colon ';' 
executemany()       --------------->To execute a Parameterized Query. 

Eg: cursor.execute("select * from employees")

-------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------
Step5:--Commit OR Rollback changes based on our requirement in the case of DML Queries (insert|update|delete) 
commit() ----->Saves the changes to the database 
rollback()---->rolls all temporary changes back 

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Step6:--Fetch the result from the Cursor object in the case of select queries 

fetchone()   ---->To fetch only one row 
fetchall()   ---->To fetch all rows and it returns a list of rows 
fecthmany(n) --->To fetch first n rows

Eg 1: data = cursor.fetchone() 
print(data) 
Eg 2: data = cursor.fetchall() 
for row in data: 
print(row)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
7) Close the Resources 
After completing our operations it is highly recommended to close the resources in the reverse order of their opening by using close() methods. 
cursor.close() 
con.close()

# ===============================================================

# 9.The following is the list of all important methods which can be used for python database programming.

In [ ]:
⚽ connect() 
⚽ cursor() 
------------------------------------------------------------------------------------------------------------------------------
⚽ execute() 
⚽ executescript() 
⚽ executemany()
-----------------------------------------------------------------------------------------------------------------------------
⚽ commit() 
⚽ rollback() 
-------------------------------------------------------------------------------------------------------------------------------
⚽ fetchone() 
⚽ fetchall() 
⚽ fetchmany(n) 
⚽ fetch 
-------------------------------------------------------------------------------------------------------------------------------
⚽ close()

# ===============================================================

# 1.Program to Connect with Oracle Database and print its Version

In [ ]:
import cx_Oracle
con=cx_Oracle.connect('scott/tiger@localhost')
print(con.version)
con.close()

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
  database="session"

)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000029CD32F2388>

In [ ]:
SQL Commands:-

# 2. Write a Program to Create Employees Table in the Oracle Database

# employees(eno,ename,esal,eaddr)

In [6]:
#import cx_Oracle
import mysql.connector
try:
    #con=cx_Oracle.connect('scott/tiger@localhost')
    con=mysql.connector.connect(host="localhost",user="root",password="root",database="session")
    cursor=con.cursor()
    cursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
    print("Table created successfully")
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Table created successfully

# 3. Write a Program to Drop Employees Table from Oracle Database

In [ ]:
import cx_Oracle
try:
    con=cx_Oracle.connect('scott/tiger@localhost')
    cursor=con.cursor()
    cursor.execute("drop table employees")
    print("Table dropped successfully")
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 4. Write a Program to Insert a Single Row in the Employees Table

In [ ]:
#import cx_Oracle
try:
    con=cx_Oracle.connect('scott/tiger@localhost')
    cursor=con.cursor()
    cursor.execute("insert into employees values(100,'Sumit',1000,'Hyd')")
    con.commit()
    print("Record Inserted Successfully")

except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# Note:-: While performing DML Operations (insert|update|delte), compulsory 
we have to use commit() method,then only the results will be reflected in the database.

Various Type of Sql Commands
DDL(Data Definition Language)
Under DDl :---(Create Drop Alter Truncate)
DML(Data Manipulation Language)
Under the DML Commands:-Insert,Update and Delete
DCL(Data Control Language)
Under the DCL Commands:-Grant Revoke
TCL(Transaction Control Language)
Under the DCL Commands:-Commmit rollback,SavePoint
DQL.(Data Query Language)
Select Commands

# 5.Write a Program to Insert Multiple Rows in the Employees Table by using executemany() Method

In [ ]:
import cx_Oracle
try:
    con=cx_Oracle.connect('scott/tiger@localhost')
    cursor=con.cursor()
    sql="insert into employees values(:eno,:ename,:esal,:eaddr)"
    records=[(200,'Sunny',2000,'Mumbai'),(300,'Chinny',3000,'Hyd'),(400,'Bunny',4000,'Hyd')]
    cursor.executemany(sql,records)
    con.commit()
    print("Record Inserted Successfully")
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 6.Write a Program to Insert Multiple Rows in the Employees Table with Dynamic Input from the Keyboard

In [ ]:
import cx_Oracle
try:
    con=cx_Oracle.connect('scott/tiger@localhost')
    cursor=con.cursor()
    while True:
        eno=int(input("Enter Employee Number:")) 
        ename=input("Enter Employee Name:")  
        esal=float(input("Enter Employee Salary:")) 
        eaddr=input("Enter Employee Address:")  
        #
        sql="insert into employees values(%d,'%s',%f,'%s')" 
        cursor.execute(sql %(eno,ename,esal,eaddr)) 
        print("Record Inserted Successfully") 
        option=input("Do you want to insert one more record[Yes|No] :")
        if option=="No":
            con.commit()
            break
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 7.Write a Program to Update Employees Salaries with Increment for the certain Range with Dynamic Input

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('scott/tiger@localhost') 
    cursor=con.cursor() 
    increment=float(input("Enter Increment Salary:")) 
    salrange=float(input("Enter Salary Range:")) 
    sql="update employees set esal=esal+%f where esal<%f" 
    cursor.execute(sql %(increment,salrange)) 
    print("Records Updated Successfully") 
    con.commit() 
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 8.Write a Program to Delete Employees whose Salary Greater provided Salary as Dynamic Input?

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('scott/tiger@localhost') 
    cursor=con.cursor()
    cutoffsalary=float(input("Enter CutOff Salary:"))
    sql="delete from employees where esal>%f" 
    cursor.execute(sql %(cutoffsalary)) 
    print("Records Deleted Successfully") 
    con.commit()
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 9.Write a Program to Select all Employees info by using fetchone() Method?

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('scott/tiger@localhost') 
    cursor=con.cursor()
    cursor.execute("select * from employees") 
    row=cursor.fetchone() 
    while row is not None:  
        print(row) 
        row=cursor.fetchone()
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 10.Write a Program to select all Employees info by using fetchall() Method?

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('scott/tiger@localhost') 
    cursor=con.cursor()
    cursor.execute("select * from employees") 
    data=cursor.fetchall() 
    for row in data: 
        print("Employee Number:",row[0]) 
        print("Employee Name:",row[1]) 
        print("Employee Salary:",row[2]) 
        print("Employee Address:",row[3]) 
        print() 
        print()
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

# 11.Write a Program to select Employees info by using fetchmany() Method and the required Number of Rows will be provided as Dynamic Input?

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('scott/tiger@localhost') 
    cursor=con.cursor()
    cursor.execute("select * from employees") 
    n=int(input("Enter the number of required rows:")) 
    data=cursor.fetchmany(n) 
    for row in data: 
        print(row)
except cx_Oracle.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem with sql",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()